name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Download cosmopolitan toolchain
      run: |
        mkdir -p cosmocc
        cd cosmocc
        curl -fsSL https://cosmo.zip/pub/cosmocc/cosmocc.zip -o cosmocc.zip
        unzip -q cosmocc.zip
        cd ..

    - name: Build
      run: |
        export PATH="$PWD/cosmocc/bin:$PATH"
        make -j$(nproc)
